version: "3.1"

services:
  mock-oauth2-server:
    image: mock-oauth2-server:latest
    ports:
      - "9005:9005"
    volumes:
      - ./src/test/resources/config-ssl.json:/app/config.json
    environment:
      LOG_LEVEL: "debug"
      SERVER_PORT: 9005
      JSON_CONFIG_PATH: /app/config.json
