<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{70} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="io.netty" level="info" />

    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <root level="${LOG_LEVEL}">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
