<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{70} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="info" />

    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}" />
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
