name: Build Docs

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  dokka:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
          cache: 'gradle'

      - name: Get the tag name
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Build Dokka
        run: ./gradlew dokkaHtm -Pversion=${{ env.VERSION }}

      - name: Publish documentation
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          branch: gh-pages
          folder: build/dokka/html
          target-folder: docs
          commit-message: "doc: Add documentation for latest release: ${{ env.VERSION }}"
